#.gitignore file

*.opensdf
*.sdf
*.user
*.suo
*.pyc
*_i.c
*_i.h
*_p.c
*.aps
dlldata.c
Thumbs.db

.gitignore~
.gitignore.swp

Debug/
Release/
ipch/
Win7Debug/


Printer/WebPackage/PrinterServiceType.idl
Printer/WebPackage/PrinterServiceTypeProxy.cpp
Printer/WebPackage/PrinterServiceTypeProxy.h
Printer/WebPackage/PrinterServiceTypeStub.cpp
Printer/WebPackage/PrinterServiceTypeTypes.cpp
Printer/WebPackage/PrinterServiceTypeTypes.h
Printer/WebPackage/Readme.txt
Printer/WebPackage/codegen.config

stratapy/.idea/workspace.xml

