#.gitignore file

*.opensdf
*.sdf
*.user
*.suo
*.pyc
*_i.c
*_i.h
*_p.c
*.aps
dlldata.c
Thumbs.db

.gitignore~
.gitignore.swp
.DS_Store
.metadata/

Debug/
Release/
ipch/
Win7Debug/


# A symbolic link to $gae/lib/django-1.4/django/contrib/admin/static/admin
dj/pavarotti/static/admin/


# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

